<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>


<!--nav bar from base.html-->
<div th:replace="base :: navlinks"></div>




<div  class="container-sm col-lg-3">
    <ul class="list-group">
        <li class="list-group-item">ID#: [[${list.id}]]</li>
        Address: <li th:text="${list.address}" class="list-group-item"></li>
        City: <li th:text="${list.city}" class="list-group-item"></li>
        State: <li th:text="${list.state}" class="list-group-item"></li>
        Price: <li th:text="${list.price}" class="list-group-item"></li>
        Is Rented: <li th:text="${list.rented}" class="list-group-item"></li>
    </ul>
</div>



<!--update - delete button-->
<div class="container-sm col-lg-3" style="margin-top: 10px">
    <button type="button" class="btn btn-success"><a style="color: white" th:href="@{/update/{id}(id=${list.id})}">Update</a></button>
    <button type="button" class="btn btn-danger"><a style="color: white" th:href="@{/detail/{id}(id=${list.id})}">Detail</a></button>
</div>










<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
</html>